{{define "Subject"}}[IOICamp 2021 程式解題競賽集訓營] 電子郵件信箱驗證碼{{end}}
您好，<br>
<br>

歡迎您前來報名 <b>IOICamp 2021 程式解題競賽集訓營</b>，在您註冊的同時，我們想先確認您的電子郵件信箱的正確性。請將下方的驗證碼填於註冊表單上「信箱驗證碼」的欄位中：<br>

<br>
驗證碼： <b>{{.Token}}</b><br>
<br>

驗證碼將在一小時候失效，且僅限用於此電子郵件信箱。如逾時或欲以其他電子郵件信箱註冊，請重新申請驗證碼。<br>

<br>
IOICamp 2021 程式解題競賽集訓營 籌備團隊 敬上<br>
營隊官網：<a href="https://ioicamp.org">ioicamp.org</a><br>
聯絡信箱：<a href="mailto:ioicamp@csie.ntu.edu.tw">ioicamp@csie.ntu.edu.tw</a><br>
<br><br>

<small>由於您（或其他人）使用此信箱（{{.Email}}）註冊「IOICamp 2021 程式解題競賽集訓營」的報名帳號，因此我們自動寄送此信給您。如果這不是您，請直接忽略，或發信至 <a href="mailto:ioicamp@csie.ntu.edu.tw">ioicamp@csie.ntu.edu.tw</a> 讓我們知道，謝謝。</small><br>
<small style="color: red;">此為系統自動寄信，請勿直接回覆，謝謝。</small>
