{{define "Subject"}}[IOICamp 2021 程式解題競賽集訓營] 密碼重設信{{end}}
您好，<br>
<br>
您剛才在 <b>IOICamp 2021 程式解題競賽集訓營</b> 的官網上使用此信箱（{{.Email}}）要求重設密碼，但您並未在本網站上註冊過帳號。如果您想要報名本營隊，請直接至官網（<a href="{{.Root}}">{{.Root}}</a>）註冊新帳號並填寫報名資料。<br>
<br>
如果這不是您，您可以直接忽略這封信，或是發信至 <a href="mailto:ioicamp@csie.ntu.edu.tw">ioicamp@csie.ntu.edu.tw</a> 讓我們知道，謝謝。<br>
<br>
IOICamp 2021 程式解題競賽集訓營 籌備團隊 敬上<br>
營隊官網：<a href="https://ioicamp.org">ioicamp.org</a><br>
聯絡信箱：<a href="mailto:ioicamp@csie.ntu.edu.tw">ioicamp@csie.ntu.edu.tw</a><br>
<br><br>
<small style="color: red;">此為系統自動寄信，請勿直接回覆，謝謝。</small>
